* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 800px;   
    border: 2px solid;
    border-color: black;
}

.post{
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}